	<div class="content">
		<div class="contact-profile">
			<img src="https://3.bp.blogspot.com/-rppCsag2GpU/WGrSny3zitI/AAAAAAAAAiQ/wgOzvnL1r2wHpwrLDf4CG_xV6O_eOWerQCLcB/s1600/musicbot.png" alt="" />
			<p id="userselect">Music Bot</p>
			<div class="social-media">
				<i class="fa fa-facebook" aria-hidden="true"></i>
				<i class="fa fa-twitter" aria-hidden="true"></i>
				 <i class="fa fa-instagram" aria-hidden="true"></i>
			</div>
		</div>
		<div  class="messages">
			<ul id='botmsg'>

			</ul>
		</div>
		<div class="message-input">
			<div class="wrap">
				<input type="text" id = 'songsearch' placeholder="Write your message..." />
				<i class="fa fa-paperclip attachment" aria-hidden="true"></i>
				<button (click)="getmusic()" class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
			</div>
		</div>
	</div>
