<div id="sidepanel">
    <button (click)="socialSignIn('facebook')">Sign in with Facebook</button>
    <button (click)="socialSignIn('google')">Sign in with Google</button><br>
    <button (click)="logout()">Logout</button><br>
    <a data-target="#image-modal" data-toggle="modal">
      <button class='btn'> Login </button><br>
    </a>
     <a data-target="#register-modal" data-toggle="modal">
      <button class='btn'> Register </button>
    </a>
    	<div id="profile">
			<div class="wrap">
				<img id="profile-img" src="https://3.bp.blogspot.com/-rppCsag2GpU/WGrSny3zitI/AAAAAAAAAiQ/wgOzvnL1r2wHpwrLDf4CG_xV6O_eOWerQCLcB/s1600/musicbot.png" class="online" alt="" />
				<p>{{current_user}}</p>
				<i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
				<div id="status-options">
					<ul>
						<li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
						<li id="status-away"><span class="status-circle"></span> <p>Away</p></li>
						<li id="status-busy"><span class="status-circle"></span> <p>Busy</p></li>
						<li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
					</ul>
				</div>
				<div id="expanded">
					<label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
					<input name="twitter" type="text" value="mikeross" />
					<label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
					<input name="twitter" type="text" value="ross81" />
					<label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
					<input name="twitter" type="text" value="mike.ross" />
				</div>
			</div>
		</div>
		<div id="search">
			<label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
			<input type="text" placeholder="Search contacts..." />
		</div>
		<div id="contacts">
			<ul>
 				<li *ngFor= "let user of active_user" class="contact" (click)="setuser(user)" id={{user}} >
					<div class="wrap">
						<span class="contact-status"></span>
						<img src="http://emilcarlsson.se/assets/jonathansidwell.png" alt="" />
						<div class="meta">
							<p class="name">{{user}}</p>
							<p class="preview"><span>You:</span> That's bullshit. This deal is solid.</p>
						</div>
					</div> 
				</li>
				<!-- <li class="contact">
					<div class="wrap">
						<span class="contact-status"></span>
						<img src="http://emilcarlsson.se/assets/jonathansidwell.png" alt="" />
						<div class="meta">
							<p class="name">Harsh</p>
							<p class="preview"><span>You:</span> That's bullshit. This deal is solid.</p>
						</div>
					</div>
				</li> -->
 			</ul>
		</div>

		<div id="bottom-bar">
			<button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>
			<button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
		</div>
	</div>
	<div id="image-modal" class="modal fade" role="dialog">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-body">
                <form>
	              <div class="form-group input-group">
	                <span class="input-group-addon" style="background-color:rgba(255, 68, 0, 0.658); color: white;">
	                    <span class="glyphicon glyphicon-user"></span>
	                </span>

	                <input type="text" [(ngModel)]="username" class="form-control" id="username1" placeholder="Username" name="username">
	              </div>
	              <br>
	              <div class="form-group input-group">
	                <span class="input-group-addon" style="background-color:rgba(255, 68, 0, 0.658); color: white;">
	                    <span class="glyphicon glyphicon-lock"></span>
	                </span>

	                <input type="password" [(ngModel)]="password" class="form-control" id="password1" placeholder="Password" name="password">
	              </div>

	              <div class="checkbox">
	                <label>
	                    <input type="checkbox" style="margin-top: 6px;"> Keep Me Logged In
	                    </label>
	              </div>
	              <button type="submit" (click)="loginUser()" class="btn btn-warning " style="margin-top:10px;border-radius: 5px;width: 100%;position:relative">SIGN IN
	                <!--<i *ngIf="loading" class="fa fa-spinner fa-spin position " style="font-size: 25px;position: absolute;right: 10px;top: 5px;margin: 0;"></i>-->
	                </button>
	            </form>
              </div>
          </div>
      </div>
  	</div>
  <div id="register-modal" class="modal fade" role="dialog">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-body">
                <form>
	              <div class="form-group input-group">
	                <span class="input-group-addon" style="background-color:rgba(255, 68, 0, 0.658); color: white;">
	                    <span class="glyphicon glyphicon-user"></span>
	                </span>

	                <input type="text" [(ngModel)]="regisusername" class="form-control" id="username" placeholder="Username" name="username">
	              </div>
	              <br>
	              <div class="form-group input-group">
	                <span class="input-group-addon" style="background-color:rgba(255, 68, 0, 0.658); color: white;">
	                    <span class="glyphicon glyphicon-lock"></span>
	                </span>

	                <input type="password" [(ngModel)]="regispassword" class="form-control" id="password" placeholder="Password" name="password">
	              </div>

	              <div class="checkbox">
	                <label>
	                    <input type="checkbox" style="margin-top: 6px;"> Keep Me Logged In
	                    </label>
	              </div>
	              <button type="submit" (click)="registeruser()" class="btn btn-warning " style="margin-top:10px;border-radius: 5px;width: 100%;position:relative">SIGN IN
	                <!--<i *ngIf="loading" class="fa fa-spinner fa-spin position " style="font-size: 25px;position: absolute;right: 10px;top: 5px;margin: 0;"></i>-->
	                </button>
	            </form>
              </div>
          </div>
      </div>
  	</div>